.main-header {
  display: flex;
  flex-direction: column;
}

.main-header h5 {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

.search {
  display: flex;
  flex: 1;
  width: 100%;
}

.search-input {
  width: 70%;
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.modal-header {
  height: 30px;
  border-bottom: 1px solid #1976d2;
}

.modal-title {
  text-transform: uppercase;
  margin: 2px 0;
  color: #1976d2;
}

.modal-footer {
  border-top: 1px solid #1976d2;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  align-items: center;
}