.navlink {
  text-decoration: none;
}

.shopping-cart {
  margin-right: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping-cart span {
  font-size: 13px;
}

.shopping-cart svg {
  color: #bdbdbd;
}

.cantidad-carrito {
  position: absolute;
  color: white;
  font-size: 10px !important;
  top: 0;
}

.logout-msg {
  text-align: center;
}

.logout-username {
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.logout-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}